* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url('../img/Background.jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: relative;
}

.memory-game {
  width: 640px;
  height: 853px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  position: absolute;
  z-index: 0;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  object-fit: fill;
  image-rendering: crisp-edges;
  padding: 1px;
  position: absolute;
  border-radius: 1px;
  backface-visibility: hidden;
  background: rgba(38, 68, 51, 0.568);
}

.front-face {
  transform: rotateY(180deg);
}

#modal {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
button {
  position: absolute;
  top:60%;
  left: 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  color: #20bf6b !important;
  text-transform: uppercase;
  font-size: 20px;
  background: #cbcbcb;
  padding: 20px;
  border: 4px solid #20bf6b  !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
button:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {

.memory-game {
  width: 90%;
  height: 90%;
  padding-left: 7%;
  padding-right: 7%;
}  
}
