* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url('../img/Background.jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: relative;
}

.memory-game {
  width: 640px;
  height: 853px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  position: absolute;
  z-index: 0;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 1px;
  position: absolute;
  border-radius: 1px;
  backface-visibility: hidden;
  background: rgba(38, 68, 51, 0.568);
}

.front-face {
  transform: rotateY(180deg);
}

#modal {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

  